<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        .action-cell {
            white-space: nowrap;
            min-width: 200px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="ribbon">
        <div class="left-section">
            <span class="bienvenida">Bienvenido {{ session['usuario'] }}</span>
        </div>
        <div class="right-section">
            <a href="{{ url_for('dashboard') }}" class="btn">Mis tareas</a>
            <div class="vertical-divider"></div>
            <div class="dropdown">
                <button class="btn dropdown-toggle">Reportes ▼</button>
                <div class="dropdown-menu">
                    <a href="{{ url_for('reporte_usuarios') }}">Usuarios</a>
                    <a href="{{ url_for('reporte_categorias') }}">Categorías</a>
                    <a href="{{ url_for('reporte_prioridades') }}">Prioridades</a>
                    <a href="{{ url_for('reporte_estados') }}">Estados</a>
                </div>
            </div>
            <div class="vertical-divider"></div>
            <a href="{{ url_for('editar_usuario') }}" class="btn">Editar Usuario</a>
            <a href="{{ url_for('logout') }}" class="btn">Cerrar sesión</a>
        </div>
    </div>

    
    <h3>Lista de Administradores</h3>

    <button class="accordion-toggle" onclick="toggleAccordion(this)">▲ Ocultar</button>
    <div class="accordion-content show">
    
    <a href="{{ url_for('register_admin') }}" class="btn">Agregar Usuario</a>

        {% if usuarios_a %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Fecha de nacimiento</th>
                    <th class="action-cell">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios_a %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.usuario }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.fdn }}</td>
                    <td class="action-cell">
                        <a href="{{ url_for('admin_editar_usuario', id=usuario.id) }}" class="action-btn edit-btn">Editar</a> |
                        <a href="{{ url_for('quitar_admin', id=usuario.id) }}" class="action-btn complete-btn">Quitar Admin</a> |
                        <a href="{{ url_for('eliminar_usuario', id=usuario.id) }}" class="action-btn delete-btn"
                            onclick="return confirm('¿Eliminar este usuario?')">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No hay administradores registrados</p>
        {% endif %}
    </div>

    <h3>Lista de Usuarios</h3>
    <button class="accordion-toggle" onclick="toggleAccordion(this)">▲ Ocultar</button>
    <div class="accordion-content show">

    <a href="{{ url_for('register_admin') }}" class="btn">Agregar Usuario</a>
    
        {% if usuarios_na %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Fecha de nacimiento</th>
                    <th class="action-cell">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios_na %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.usuario }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.fdn }}</td>
                    <td class="action-cell">
                        <a href="{{ url_for('admin_editar_usuario', id=usuario.id) }}" class="action-btn edit-btn">Editar</a> |
                        <a href="{{ url_for('hacer_admin', id=usuario.id) }}" class="action-btn complete-btn">Hacer Admin</a> |
                        <a href="{{ url_for('eliminar_usuario', id=usuario.id) }}" class="action-btn delete-btn"
                            onclick="return confirm('¿Eliminar este usuario?')">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No hay usuarios registrados</p>
        {% endif %}
    </div>
</body>
    
    <h3>Lista de Categorias</h3>

    <button class="accordion-toggle" onclick="toggleAccordion(this)">▲ Ocultar</button>
    <div class="accordion-content show">

    <a href="{{ url_for('agregar_categoria') }}" class="btn">Agregar Categoria</a>
    
        {% if categorias %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th class="action-cell">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.id }}</td>
                    <td>{{ categoria.nombre }}</td>
                    <td class="action-cell">
                    <a href="{{ url_for('editar_categoria', id=categoria.id) }}" class="action-btn edit-btn">Editar</a> |
                        {% if categoria.visible %}
                             <a href="{{ url_for('deshabilitar_categoria', id=categoria.id) }}" class="action-btn delete-btn"
                                onclick="return confirm('¿Deshabilitar esta categoría?')">Deshabilitar</a>
                        {% else %}
                          <a href="{{ url_for('habilitar_categoria', id=categoria.id) }}" class="action-btn complete-btn">Habilitar</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No hay categorias registradas</p>
        {% endif %}
    </div>
    
    <h3>Lista de Prioridades</h3>

    <button class="accordion-toggle" onclick="toggleAccordion(this)">▲ Ocultar</button>
    <div class="accordion-content show">

    <a href="{{ url_for('agregar_prioridad') }}" class="btn">Agregar Prioridad</a>
    
        {% if prioridades %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th class="action-cell">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for prioridad in prioridades %}
                <tr>
                    <td>{{ prioridad.id }}</td>
                    <td>{{ prioridad.nombre }}</td>
                    <td class="action-cell">
                    <a href="{{ url_for('editar_prioridad', id=prioridad.id) }}" class="action-btn edit-btn">Editar</a> |
                        {% if prioridad.visible %}
                             <a href="{{ url_for('deshabilitar_prioridad', id=prioridad.id) }}" class="action-btn delete-btn"
                                onclick="return confirm('¿Deshabilitar esta prioridad?')">Deshabilitar</a>
                        {% else %}
                          <a href="{{ url_for('habilitar_prioridad', id=prioridad.id) }}" class="action-btn complete-btn">Habilitar</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No hay prioridades registradas</p>
        {% endif %}
    </div>

    <h3>Lista de Estados</h3>

    <button class="accordion-toggle" onclick="toggleAccordion(this)">▲ Ocultar</button>
    <div class="accordion-content show">

    <a href="{{ url_for('agregar_estado') }}" class="btn">Agregar Estado</a>
    
        {% if estados %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th class="action-cell">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for estado in estados %}
                <tr>
                    <td>{{ estado.id }}</td>
                    <td>{{ estado.nombre }}</td>
                    <td class="action-cell">
                    <a href="{{ url_for('editar_estado', id=estado.id) }}" class="action-btn edit-btn">Editar</a> |
                        {% if estado.visible %}
                             <a href="{{ url_for('deshabilitar_estado', id=estado.id) }}" class="action-btn delete-btn"
                                onclick="return confirm('¿Deshabilitar este estado?')">Deshabilitar</a>
                        {% else %}
                          <a href="{{ url_for('habilitar_estado', id=estado.id) }}" class="action-btn complete-btn">Habilitar</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No hay prioridades registradas</p>
        {% endif %}
    </div>

<script>
    function toggleAccordion(button) {
        const content = button.nextElementSibling;
        content.classList.toggle("show");

        if (content.classList.contains("show")) {
            button.innerHTML = "▲ Ocultar";
        } else {
            button.innerHTML = "▼ Mostrar";
        }
    }
</script>


</html>
